@font-face{
    src: url(./resources/Caprasimo-Regular.ttf);
    font-family: Caprasimo-Regular;
}
@font-face{
    src: url(./resources/CrimsonPro-SemiBold.ttf);
    font-family: CrimsonPro-SemiBold;
}
@font-face{
    src: url(./resources/NotoSansThai_ExtraCondensed-SemiBold.ttf);
    font-family: NotoSansThai;
}