@font-face{
    src: url(./resources/Caprasimo-Regular.ttf);
    font-family: Caprasimo-Regular;
}
@font-face{
    src: url(./resources/CrimsonPro-SemiBold.ttf);
    font-family: CrimsonPro-SemiBold;
}
@font-face{
    src: url(./resources/NotoSansThai_ExtraCondensed-SemiBold.ttf);
    font-family: NotoSansThai;
}
.brand-name {
    color: #3c0202;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    font-family: Caprasimo-Regular;
    background-color: #FFF7EC;
    padding: 5px;
}
#logo-brand {
    width: 150px;
}

#brand-name2 {
    font-family: Caprasimo-Regular;
    color: #6d3232;
}
.raw-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ebdcc7; 
    padding: 1rem;
    font-family: CrimsonPro-SemiBold,'Times New Roman', Times, serif;
    font-size: x-large;
    padding: 20px;
}
.nav-bar a {
    margin-left: 1rem;
    color: #3c0202;
    text-decoration: none;
    font-family: CrimsonPro-SemiBold,'Times New Roman', Times, serif;
}
.nav-bar a:hover {
    color: #96846a;
}